/* 
    01 -- TYPOGRAPHY SYSTEM 

    font-size (px) : 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    font-weight: 400 (default), 500 (medium), 600 (semi-bold), 700 (bold)
    line-height: 1 (default), 1.05 (title), 1.6 (paragraph)
    letter-spacing: -0.5px, 0.75px, 1.2px

    02 -- COLORS

    primary: #e67e22
    tints: #fdf2e9 fae5d3 #eb984e #452602
    shades: #cf711f
    accents:

    main gray: #555555 / #333333 /#6f6f6f /#767676

    05 -- SHADOWS 

    0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); 

    06 -- BORDER RADIUS

    border-radius: 9px (deafault), 11px (meals card)

    07 -- WHITE SPACE

    space system: 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/



/*****************************************************************************/

/* HEADER ********************************************************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    padding: 0 4.8rem 0 4.8rem;
    background-color: #fdf2e9;
}

.logo {
    height: 2.2rem;
}

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    color: #333333;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem 1.2rem 2.4rem;
    border-radius: 9px;
    color: #ffffff;
    background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #cf711f;
}

/*****************************************************************************/

/* HERO SECTION **************************************************************/

.section-hero {
    /* height: 100vh; */
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin: 0 0 4.8rem 0;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin: 8.0rem 0 0 0;
}

.delivered-imgs {
    display: flex;
}

.delivered-img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin: 0 -1.6rem 0 0;
    border: 3px solid #fdf2e9;
}

.delivered-img:last-child {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin: 0 0 0 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    font-weight: 700;
    color: #cf711f;
}

.hero-img {
    width: 100%;
}

/*****************************************************************************/

/* FEATURED IN ***************************************************************/

.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 2.4rem 0;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

/*****************************************************************************/

/* SECTION HOW IT WORKS ******************************************************/

.section-how {
    padding: 9.6rem 0 9.6rem 0;
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #dddddd;
    margin: 0 0 1.2rem 0;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.stap-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.stap-img-box::before,
.stap-img-box::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stap-img-box::before {
    width: 60%;
    padding: 0 0 60% 0;
    background-color: #fdf2e9;
    z-index: -2;
}

.stap-img-box::after {
    width: 45%;
    padding: 0 0 45% 0;
    background-color: #fae5d3;
    z-index: -1;
}

.step-img {
    width: 35%;
}


/*****************************************************************************/

/* MEALS *********************************************************************/

.section-meals {
    padding: 9.6rem 0 9.6rem 0;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}

.meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
    margin: 0 0 1.2rem 0;
    display: flex;
    gap: 0.4rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #333333;
    border-radius: 1000px;
}

.tag--vegetarian {
    background-color: #51cf66;
}

.tag--vegan {
    background-color: #94d82d;
}

.tag--paleo {
    background-color: #ffd43b;
}

.meal-title {
    font-size: 2.4rem;
    color: #333333;
    font-weight: 600;
    margin: 0 0 3.2rem 0;
}

.meal-img {
    width: 100%;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.all-recipes {
    text-align: center;
    font-size: 1.8rem;
}

/*****************************************************************************/

/* TESTIMONIAL ***************************************************************/

.section-testimonials {
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonials-container {
    padding: 9.6rem 9.6rem 9.6rem 9.6rem;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.8rem;
    column-gap: 8.0rem;
}

.testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    margin: 0 0 1.2rem 0;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin: 0 0 1.6rem 0;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
}

.gallery-item {
    overflow: hidden;
}

.gallery-img {
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery-img:hover {
    transform: scale(1.1);
}

/*****************************************************************************/

/* PRICING *******************************************************************/

.section-pricing {
    padding: 9.6rem 0 9.6rem 0;
}

.pricing-plan {
    border-radius: 11px;
    width: 75%;
}

.pricing-plan--starter {
    justify-self: end;
    border: 2px solid #fdf2e9;
    padding: 4.6rem 4.6rem 4.6rem 4.6rem;
}

.pricing-plan--complete {
    background-color: #fdf2e9;
    padding: 4.8rem 4.8rem 4.8rem 4.8rem;
    position: relative;
    overflow: hidden;
}

.pricing-plan--complete::after {
    content: "Best value";
    position: absolute;
    top: 6%;
    right: -18%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: #333333;
    background-color: #ffd43b;
    padding: 0.8rem 8rem 0.8rem 8rem;
    transform: rotate(45deg);
}

.plan-header {
    text-align: center;
    margin: 0 0 4.8rem 0;
}

.plan-name {
    color: #cf711f;
    font-weight: 600;
    font-size: 2.0rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin: 0 0 3.2rem 0;
}

.plan-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333333;
    margin: 0 0 1.6rem 0;
}

.plan-price span {
    font-size: 3.0rem;
    font-weight: 500;
    margin: 0 0.8rem 0 0;
}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-signup {
    text-align: center;
    margin: 4.8rem 0 0 0;
}

.plan-details {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
}

/*****************************************************************************/

/* FEATURES ******************************************************************/

.feature-icon {
    color: #e67e22;
    background-color: #fdf2e9;
    height: 3.2rem;
    width: 3.2rem;
    margin: 0 0 3.2rem 0;
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    border-radius: 50%;
}

.feature-title {
    font-size: 2.4rem;
    color: #333333;
    font-weight: 700;
    margin: 0 0 1.6rem 0;
}

.feature-text {
    font-size: 1.8rem;
    line-height: 1.8;
}

/*****************************************************************************/

/* CTA ***********************************************************************/

.section-cta {
    padding: 4.8rem 0 12.8rem 0;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    overflow: hidden;
}

.cta-text-box {
    color: #452602;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
    color: inherit;
    margin: 0 0 3.2rem 0;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin: 0 0 4.8rem 0;
}

.cta-img-box {
    background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url(../assets/eating.jpg);
    background-size: cover;
    background-position: center;
}

.cta-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 0 1.2rem 0;
}

.cta-form input,
.cta-form select {
    width: 100%;
    font-size: 1.8rem;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    font-family: inherit;
    border: none;
    color: inherit;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
    color: #aaaaaa;
}

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/*****************************************************************************/

/* FOOTER ********************************************************************/

.footer {
    padding: 12.8rem 0 12.8rem 0;
    border-top: 1px solid #eeeeee;
}

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.address-col {}

.nav-col {}

.footer-logo {
    display: block;
    margin: 0 0 3.2rem 0;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin: auto 0 0 0;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin: 0 0 2.4rem 0;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 0 4rem 0;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #555555;
}

/*****************************************************************************/