/* 
    01 -- TYPOGRAPHY SYSTEM 

    font-size (px) : 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    font-weight: 400 (default), 500 (medium), 600 (semi-bold), 700 (bold)
    line-height: 1 (default), 1.05 (title), 1.6 (paragraph)
    letter-spacing: -0.5px, 0.75px, 1.2px

    02 -- COLORS

    primary: #e67e22
    tints: #fdf2e9 fae5d3
    shades: #cf711f
    accents:

    main gray: #555555 / #333333

    05 -- SHADOWS 

    06 -- BORDER RADIUS

    border-radius: 9px

    07 -- WHITE SPACE

    space system: 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/



/*****************************************************************************/

/* HEADER ********************************************************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    padding: 0 4.8rem 0 4.8rem;
    background-color: #fdf2e9;
}

.logo {
    height: 2.2rem;
}

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    color: #333333;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem 1.2rem 2.4rem;
    border-radius: 9px;
    color: #ffffff;
    background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #cf711f;
}

/*****************************************************************************/

/* HERO SECTION **************************************************************/

.section-hero {
    /* height: 100vh; */
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin: 0 0 4.8rem 0;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin: 8.0rem 0 0 0;
}

.delivered-imgs {
    display: flex;
}

.delivered-img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin: 0 -1.6rem 0 0;
    border: 3px solid #fdf2e9;
}

.delivered-img:last-child {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin: 0 0 0 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    font-weight: 700;
    color: #cf711f;
}

.hero-img {
    width: 100%;
}

/*****************************************************************************/

/* FEATURED IN ***************************************************************/

.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 2.4rem 0;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

/*****************************************************************************/

/* SECTION HOW IT WORKS ******************************************************/

.section-how {
    padding: 9.6rem 0 9.6rem 0;
}

.step-text-box {}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #dddddd;
    margin: 0 0 1.2rem 0;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.stap-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.stap-img-box::before,
.stap-img-box::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stap-img-box::before {
    width: 60%;
    padding: 0 0 60% 0;
    background-color: #fdf2e9;
    z-index: -2;
}

.stap-img-box::after {
    width: 45%;
    padding: 0 0 45% 0;
    background-color: #fae5d3;
    z-index: -1;
}

.step-img {
    width: 35%;
}


/*****************************************************************************/